/* サイドバー展開時のちらつきを防ぐ */
:root {
  --tab-width: 240px;
}
#sidebar-box {
  position: relative !important;
  overflow-x: hidden !important;
  min-width: var(--tab-width) !important;
  max-width: var(--tab-width) !important;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.35);
  z-index: 1 !important; 
  transition: all .1s ease; 
  margin-left: calc(var(--tab-width) * -1) !important;
}
